@mixin gridStyle() {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(60px,1fr));
    column-gap: 1%;
}
@mixin atagStyle () {
    color: white;
    background-color: darkred;
    text-decoration: none;
    text-align: center;
}
@mixin atagAnimation {
    transition: all 0.25s ease-in-out; 
    &:hover {
        background-color: crimson;
    }



}