$font-color1:black;
$font-color2:#333;
$font-color3:#8c6349;
$font-color4:goldenrod;
$font-color5:darkred;
$font-color6:white;
$font-color7:crimson;
$font-color8:grey;
$font-color1:black;
$font-color2:#333;
$font-color1:black;
$font-color2:#333;