* {
    margin: 0;
    padding: 0;
}
#container {
    display:grid;
    row-gap: 2vh;
  
   #header {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        width: 100%;
        height:20vh;
        
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTaqkheI1eHco59pIjVVJ_ScUJ08H9L6hf4-w&usqp=CAU);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        h3 {
            font-size: larger;
            text-align: center;
            position: relative;
            #pizza-logo {
                position: absolute;
                top:0;
                left: 0;

            }
            
        }
        #pizza-logo-two {
            display: none;
        }
        a{
            color: black;
            font-weight: bolder;
            font-size:smaller;
            transition: font-size 0.25s ease-in-out;
            text-decoration: none;
            
            

           
        }
        
    }
    #content {
        width: 99%;
        
        min-height: 65vh;
      
        display: grid;
        row-gap:1vw ;
      
        #content-one {
            width: 99%;
            height: 20vh;
            background-color: black;
            position: relative;
            margin-left: 1vw;
            
            img {
                width:50%;
                height:20vh;
            }
           
            #ptag-one {
                position: absolute;
                font-weight: bolder;
                top:7vh;
                left: 50vw;
                font-style: italic;
                color: white;
               

            }
            #ptagone-one {
                display: none;
            }
            #ptag-two {
                position: absolute;
                font-style: italic;
                font-size: smaller;
                font-weight: bolder;
                top:21vh;
                left: 50vw;
                text-align: center;
                background-color: black;
                color: white;
                #atagone-content {
                    color:goldenrod;
                   
                }
                
            }
            #contentimage-one {
                width:100%;
                height: 20vh;
            }
            #ptag-three {
                position: absolute;
                top:54vh;
                color: white;
                left: 55vw;
                #atagtwo-content
                {
                    color: goldenrod;
                    position: absolute;
                    left: 10vw;
                    font-style: italic;
                    
                }
            }
            

        }
        #content-two {
            display: none;
        }
        
       
        
    }
    #footer {
        width:100%;
        min-height: 12vh;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTaqkheI1eHco59pIjVVJ_ScUJ08H9L6hf4-w&usqp=CAU);
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));


    }
    @media only screen and(min-width:768px)
    {
        
            
            #header {
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
                justify-items: center;
                align-items: center;
                height: 15vh;
                h3 {
                
                    font-size: xx-large;
                    #pizza-logo {
                        top:4vh;
                        width: 20%;
                        position: absolute;
                        top: 7vh;
                        left: 5vw;
                    }
                    

                }
                #pizza-logo-two {
                    display: none;
                }
           
            }
            #content {
                min-height: 75vh;
                
                #content-one {
                    position: relative;
                  margin-top: 1%;
                  #ptag-one
                  {
                      font-size: 1.4em;
                  }
                  #ptagone-one {
                      display: none;
                  }

                    iframe {
                        height: 25vh;
                    }
                    #contentimage-one {
                        height: 28vh;
                    }
                    #ptag-three {
                        position: absolute;
                        left: 65vw;
                        top:55vh;
                        font-size:x-large;
                        #atagtwo-content {

                           position: absolute;
                           left: 3vw;
                           top: 5vh;
                           font-size: larger;
                            
                        }
                    }
                }
                #content-two {
                    display: none;
                }
                
                
            }
            #footer {
                min-height:8vh;
                position: relative;
                
                #footerh5-one {
                    position: absolute;
                    top: 2vh;


                }
                #footerdiv-one {
                    position: absolute;
                    top: 2vh;
                    left: 40vw;
                    
                    
                    
                    
                  
                }
                #footerh5-two {
                    position: absolute;
                    top: 2vh;
                    left:70vw;
                }
            }
        
    }
    @media only screen  and(min-width:1020px){
       
            
            #header {
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
                align-items: center;
                justify-items: center;
                width: 100%;
              
                h3 {
                    display: none;
                    
                    
                     #pizza-logo {
                     position: absolute;
                       left:0;
                       top:4vh;
                         
                     }
                     
                }
                #pizza-logo-two {
                    display: block;
                    width:30%;
                }
                a {
                    font-size: large;
                    color: white;
                    text-decoration: none;
                    background-color: darkred;
                    padding: 1vh;
                    transition: all 0.25s ease-in-out;
                    &:hover {
                        background-color: crimson;
                    }
                }
              
            }
            
            
            #content {
               
                grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
                width: 99%;
               
                #content-one {
                    display: none;


                }
                #content-two {
                    min-height: 170vh;

                    display: block;
                    position: relative;
                    h1 {
                        position: absolute;
                        top:15vh;
                        left:10vw;
                        color: #333;
                        font-family:"adobe-caslon-pro",serif;
                        font-style: normal;
                        font-size: 3em;

                    }
                    h4 {
                        position:absolute;
                        top:26vh ;
                        left: 14vw;
                        color: #333;
                        font-family:"adobe-caslon-pro",serif;
                        font-size: 1em;
                        font-style: italic;


                    }
                    .condenttwoimages{
                        position: absolute;
                        border: 5px solid black;
                        width: 275px;
                        height: 183px;

                    }
                    #contenttwo-imageone {
                       
                        left: 44vw;
                        top:8vh;

                    }
                    #contenttwo-imagetwo{
                        
                        left: 69vw;
                        top:8vh;
                       

                    }
                    #contenttwo-imagethree{
                      
                        left: 44vw;
                        top:38vh;
                        

                    }
                    #contenttwo-imagefour{
                        
                        left: 69vw;
                        top:38vh;
                        

                    }
                    #hrtag-one {
                        border-color: #8c6349;
                        position: absolute;
                        top: 40vh;
                        left:3vw;
                        width:37%;
                    }
                    #hrtag-two {
                        border-color: #8c6349;
                        position: absolute;
                        top: 65vh;
                        left:3vw;
                        width:37%;
                    }
                    #contenttwo-ptagone {
                        position: absolute;
                        top: 47vh;
                        left: 3vw;
                        font-size: large;
                        color:#8c6349 ;
                        text-align: center;
                        font-weight: bold;
                        
                    }
                    #contenttwo-two {
                        width: 100%;
                        top:80vh;
                        height: 36vh;
                        left: 0.25vw;
                      
                        position: absolute;
                        #contenttwo-imagefive {
                            position: absolute;
                            top: 0;
                            height: 35vh;
                            width: 40%;
                            border: 5px double black;

                            
                        }
                        #contenttwo-h3tagone{
                            color: #333; 
                            position: absolute;
                            left:47%;
                            font-style: oblique;
                            font-weight: bolder;
                            top:15vh;
                            #contenttwo-atagone {
                                color: goldenrod;
                            }
                        }
                        #contenttwo-imagesix {
                            position: absolute;
                            top: 43vh;
                            height: 35vh;
                            width: 40%;
                            border: 5px double black;
                            left: 55%;

                            
                        }
                        #contenttwo-h3tagtwo {
                            position: absolute;
                            left: 5vw;
                            top:60vh ;
                            color: #333; 
                            font-style: oblique;
                            font-weight: bolder;
                            #contenttwo-atagone {
                                position: absolute;
                                left: 7vw;
                                color:white;
                                background-color:darkred;
                                padding: 3vh;
                                text-decoration: none;
                                transition: all 0.25s ease-in-out;
                                &:hover {
                                    background-color: crimson;
                                }
                            }
                        }
                    }
                    
                    


                }
                
               
            }
            #footer {
                position: relative;
                #footerh5-one{
                    position: absolute;
                    left:1vw;
                }
                #footerh5-two {
                    position:absolute;
                    left:80vw;
                }
                
            }

        
    }
   
}

