* {
  margin: 0;
  padding: 0;
}

#container {
  display: -ms-grid;
  display: grid;
  row-gap: 2vh;
  margin-left: 1%;
  width: 98%;
}

#container #header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  height: 20vh;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTaqkheI1eHco59pIjVVJ_ScUJ08H9L6hf4-w&usqp=CAU);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#container #header h3 {
  font-size: larger;
  text-align: center;
  position: relative;
}

#container #header h3 #pizza-logo {
  position: absolute;
  top: 0;
  left: 0;
}

#container #header a {
  color: black;
  font-weight: bolder;
  font-size: smaller;
  -webkit-transition: font-size 0.25s ease-in-out;
  transition: font-size 0.25s ease-in-out;
}

#container #header a:link {
  color: black;
}

#container #header a:visited {
  color: blue;
}

#container #content {
  width: 100%;
  min-height: 65vh;
  display: -ms-grid;
  display: grid;
  row-gap: 1vw;
}

#container #content #content-one {
  width: 95vw;
  height: 20vh;
  background-color: black;
  position: relative;
  left: 2vw;
}

#container #content #content-one img {
  width: 50%;
  height: 20vh;
}

#container #content #content-one #ptag-one {
  position: absolute;
  font-weight: bolder;
  top: 7vh;
  left: 50vw;
  font-style: italic;
  color: white;
}

#container #content #content-one #ptag-two {
  position: absolute;
  font-style: italic;
  font-size: smaller;
  font-weight: bolder;
  top: 21vh;
  left: 50vw;
  text-align: center;
  background-color: black;
  color: white;
}

#container #content #content-one #ptag-two #atagone-content {
  color: goldenrod;
}

#container #content #content-one #contentimage-one {
  width: 100%;
  height: 20vh;
}

#container #content #content-one #ptag-three {
  position: absolute;
  top: 54vh;
  color: white;
  left: 55vw;
}

#container #content #content-one #ptag-three #atagtwo-content {
  color: goldenrod;
  position: absolute;
  left: 10vw;
  font-style: italic;
}

#container #footer {
  width: 100%;
  min-height: 10vh;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTaqkheI1eHco59pIjVVJ_ScUJ08H9L6hf4-w&usqp=CAU);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media only screen and (min-width: 768px) {
  #container #header {
    height: 15vh;
  }
  #container #header h3 {
    font-size: xx-large;
  }
  #container #header h3 #pizza-logo {
    top: 4vh;
    width: 20%;
  }
  #container #content {
    min-height: 75vh;
  }
  #container #content #content-one {
    position: relative;
    margin-top: 1%;
  }
  #container #content #content-one #ptag-one {
    font-size: 1.4em;
  }
  #container #content #content-one iframe {
    height: 25vh;
  }
  #container #content #content-one #contentimage-one {
    height: 28vh;
  }
  #container #content #content-one #ptag-three {
    position: absolute;
    left: 65vw;
    top: 55vh;
    font-size: x-large;
  }
  #container #content #content-one #ptag-three #atagtwo-content {
    position: absolute;
    left: 3vw;
    top: 5vh;
    font-size: larger;
  }
  #container #footer {
    min-height: 5vh;
    position: relative;
  }
  #container #footer #footerh5-one {
    position: absolute;
    top: 2vh;
  }
  #container #footer #footerdiv-one {
    position: absolute;
    top: 2vh;
    left: 40vw;
  }
  #container #footer #footerh5-two {
    position: absolute;
    top: 2vh;
    left: 70vw;
  }
}

@media only screen and (min-width: 1020px) {
  #container #header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 100%;
    position: relative;
  }
  #container h3 {
    position: absolute;
    left: 2vw;
  }
  #container h3 #pizza-logo {
    position: absolute;
  }
}
/*# sourceMappingURL=style.css.map */